<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Header 头部 -->
	<div th:fragment="header">
		<div class="header">
			<div class="logo">
				<img src="img/logo.png" />
			</div>

			<div class="header_left">
				<a href="tologin">你好,请登录</a> 
				<a href="toCart">购物车  </a>|
				<a href="cartitem">我的订单  </a>|
				<a href="">退出 </a>
			</div>
		</div>
		<div class="column">
			<span th:each=" cc : ${cclist}"><a href="index.html"><span th:text="${cc.cname}">商城首页</span></a> </span>
			<!-- <a href="#">雕塑手办</a> 
			<a href="#">毛绒玩偶</a>
			<a href="#">男女服饰</a> 
			<a href="#">珠宝首饰</a> 
			<a href="#">其他</a> -->
		</div>
	</div>

	<!-- footer 尾部-->
	<div th:fragment="footer">
		<div class="container footer">
			<div class="span24">
				<div class="footerAd">
					<img src="img/footer.jpg" style="width: 100%; height: 52px;" />
				</div>
			</div>
			<div class="span24">
				<ul class="bottomNav">
					<li>
						<a>友情链接</a>：
					</li>
					<li>
						<a>关于我们</a> |
					</li>
				</ul>
			</div>
			<div class="span24">
				<div class="copyright">Copyright © 2005-2013 Mango商城 版权所有</div>
			</div>
		</div>
	</div>
</body>
</html>