<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>广告1</title>
<script type="text/javascript" src="js/gg.js"></script>
</head>
<body>
<div id="gg">
<a href="https://manga.bilibili.com/detail/mc26566?from=bili_main_pop&spm_id_from
=333.851.b_62696c695f7265706f72745f6d616e6761.4" target="_blank" >
<img  src="img/1.webp">
</a>
<a href="ggzz.html" target="_blank" style="display: none;">
<img src="img/2.png">
</a>
<a href="https://manga.bilibili.com/detail/mc24723?from=bili_main_pop&spm_id_from
=333.851.b_62696c695f7265706f72745f6d616e6761.8" target="_blank" style="display: none;">
<img src="img/2.webp" >
</a>
<a href="https://manga.bilibili.com/detail/mc26442?from=bili_main_pop&spm_id_from
=333.851.b_62696c695f7265706f72745f6d616e6761.7" target="_blank" style="display: none;">
<img src="img/3.webp" >
</a>
</div>
</body>
</html>