<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>LOL周边商城</title>
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/cart.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/header.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<script type="text/javascript">
	function change(pid){
		
		// 定义请求地址
		if(pid==null){
			var url = "doDelete.s?op=deleteAll";
		}else{
			var url = "doDelete.s?op=deleteOneCart&pid="+pid;
		}
		
		$.ajax({
	        //请求方式
	        type : "POST",
	        //请求的媒体类型
	        contentType: "application/json;charset=UTF-8",
	        //请求地址
	        url : url,
	        //数据，json字符串
	        //servlet.s?user=zhangsan
	        //data : {"cid":cid,"symbol":e},
	        //请求成功
	        success : function(result) {
	        	alert("删除成功");
	        	location.href="cart.jsp";
	        }
	    });
	
	}
	function dir_confirm(pid){
		if(pid==null){
			var choose = confirm("确认清空购物车？");
		}else{
			var choose = confirm("确认删除？");
		}
		
		if(choose==true){
			//checkForm();
			change(pid);
		}else{
			r = false;
		}
	}
	
</script>
<body>
	<!-- 头部 -->
	<div th:include="common/common::header"></div>
	<div class="container cart">
		<div class="step step1">购物车列表</div>
		<table>
			<tbody>
				<tr>
					<th>图片</th>
					<th>商品</th>
					<th>单价</th>
					<th>数量</th>
					<th>小计</th>
					<th>操作</th>
				</tr>
				<tr th:each="c : ${clist}">
					<td width="60">
						<img>
					</td>
					<td>
						<a target="_blank">
							<span th:text="${c.product.id}"></span>
							<span>Rio 锐澳 水蜜桃味白兰地鸡尾酒（预调酒） 275ml</span>
						</a>
					</td>
					<td>
						<span>222</span>
					</td>
					<td class="quantity" width="60">
						<span>222</span>
					</td>
					<td width="80">
						<span class="subtotal">
							<span>222</span>
						</span>
					</td>
					<td style="width: 100px">
						<input type="button" value="删除" style="width: 40px" onclick="dir_confirm(${p.pid})">
						<input type="button" value="购买" onclick="dir_confirm(${p.pid})" style="width: 40px">
					</td>
				</tr>
			</tbody>
		</table>
		<dl id="giftItems" class="hidden" style="display: none;">
		</dl>
		<div class="total">
			<em id="promotion"></em>
			商品金额:
			<strong id="effectivePrice">
				<span>2999</span>
			</strong>
		</div>
		<div class="bottom">
			<input type="button" value="清空购物车" onclick="dir_confirm()">
			<a href="pay.jsp" id="submit" class="submit">提交订单</a>
		</div>
	</div>
	<!-- 脚部 -->
	<div th:replace="common/common::.footer"></div>
</body>
</html>