<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="css/header.css" />
<link rel="stylesheet" href="css/mid.css" />
<link rel="stylesheet" href="css/ads.css" />
<link rel="stylesheet" href="css/clist.css" />
<script type="text/javascript" src="js/ads.js"></script>
<script type="text/javascript" src="js/click.js"></script>
</head>

<body>
	<div th:include="common/common::header"></div>
	<div class="clist_tab">
		<a href="index" class="clist_tab_1" style="color: #000">商城首页 ></a>
		<span th:if="${param.id != null }">
			<a th:text="${cclist2.cname}" >111</a>
		</span>
		
		<a th:if="${param.csid != null}" th:text="'>'+${param.csname}">
					>12222
		</a>
	</div>
	<div class="clist_top" >
		<img th:src="${cclist2.cimg}" />
	</div>
	<div class="clist_bq">
		<dl>
			<dt>
				<a href="#" th:text="'| '+${cclist2.cname}"> 雕塑手办</a>
				
			</dt>


			<dd th:each="csn : ${csnlist}">
				<a th:text="${csn.csname}"
					th:href="'clist?id='+${csn.cid}+'&csid='+${csn.id}+'&csname='+${csn.csname}">
					大型雕塑 </a>
			</dd>


		</dl>

	</div>
	<div class="clist_shop">
		<ul> 
			<li th:each="pc : ${shopImg}" >
				<a href="">
					<div class="clist_shop_img">
						<img th:src="${pc.imgs[0].url}" /> 
					</div>
					<span th:text="${pc.pname}">阿卡丽手办</span>
				</a>
			</li>
		</ul>
	</div>
	<div th:replace="common/common::.footer"></div>
</body>

</html>