<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/header.css" />
<link rel="stylesheet" href="css/clist.css" />
<link rel="stylesheet" href="css/mid.css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/product.css" rel="stylesheet" type="text/css" />

<title>LOL周边商城</title>
</head>
<body>
	
	<!-- 页头  HTML注释 用户可见   JSP的 指令引入 -->
	
	<%@ include file="/common/header.html"%>
	<div class="clist_tab">
		<a href="index.html" class="clist_tab_1" style="color:#000">商城首页 ></a> 	 
		<%
		
		
			String pid = request.getParameter("pid");
			String sql1 = "select * from product where pid=?";
			Map<String,Object> product = DBHelper.selectOne(sql1, pid);
		
	
			//将商品map 添加到页面上下文中，就是用EL 表达式输出
			pageContext.setAttribute("p", product);
			//EL
			String cid = request.getParameter("cid");
			String csid = request.getParameter("csid");
			String sql = "select * from category where cid=?";
			List<Map<String,Object>> list = DBHelper.selectList(sql,cid);
			for(Map<String, Object> m : list){ %>
			
			<% 
			if(csid!=null){
					sql = "select * from categorysecond where cid=? and csid=?";
					List<Map<String,Object>> list2 = DBHelper.selectList(sql, cid,csid);
					for(Map<String, Object> m2 : list2){%>
					<a href="clist.html?cid=<%=m.get("cid")%>" style="color:#000;"><%=m.get("cname") %></a> >						
					<a href="clist.html?cid=<%=m.get("cid")%>&csid=<%=m2.get("csid")%>" style="color:#000">
						<%=m2.get("csname") %></a> > ${p.pname }
					<%} %>
				<%}else{%>
					<%=m.get("cname") %> 
				<%} %>
		<%}%> 	
	</div>
	

	<div class="container productContent">

		<div class="span18 last">

			<div class="productImage">
				<a title="" style="outline-style: none; text-decoration: none;"
					id="zoom"
					href="http://image/r___________renleipic_01/bigPic1ea8f1c9-8b8e-4262-8ca9-690912434692.jpg"
					rel="gallery">
					<div class="zoomPad">
						<img style="opacity: 1;" title="" class="medium" src="${p.image}">
						<div style="display: block; top: 0px; left: 162px; width: 0px; height: 0px;
							 position: absolute; border-width: 1px;" class="zoomPup">
						</div>
						<div style="position: absolute; z-index: 5001; left: 312px; top: 0px; 
								display: block;" class="zoomWindow">
							<div style="width: 368px;" class="zoomWrapper">
								<div style="width: 100%; position: absolute; 
									display: none;" class="zoomWrapperTitle">
								</div>
								
							</div>
						</div>
						<div style="visibility: hidden; top: 129.5px; left: 106px; 
							position: absolute;" class="zoomPreload">Loading zoom
						</div>
					</div>
				</a>

			</div>
			<form action="doAddCart.s" method="post">
				<div class="name">${p.pname }</div>
				<div class="sn">
					<div>编号：${p.pid }</div>
				</div>
				<div class="info">
					<dl>
						<dt>商城价:</dt>
						<dd>
							<strong>￥：${p.price }元/份</strong> 
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd>
							<span> </span>
						</dd>
					</dl>
				</div>
				<div class="action" >
					<input type="hidden" name="price" value="${p.price }"/>
					<input type="hidden" name="pid" value="${p.pid }"/>
					<dl class="quantity">
						<dt>购买数量:</dt>
						<dd>
							<input id="quantity" name="count" value="1" maxlength="4"
								onpaste="return false;" type="text">
							<div>
								<span id="increase" class="increase">&nbsp;</span> <span
									id="decrease" class="decrease">&nbsp;</span>
							</div>
						</dd>
						<dd>件</dd>
					</dl>
					<div class="buy">
						<input id="addCart" class="addCart" value="加入购物车" type="submit">
					</div>
				</form>
			</div>
			
			<div id="bar" class="bar">
				<ul>
					<li id="introductionTab"><a href="#introduction">商品介绍</a></li>
					<li id="introductionTab"><a href="#introduction2">用户评论</a></li>
				</ul>
			</div>

			<div id="introduction" name="introduction" class="introduction">
				<div class="title">
					<strong>商品介绍</strong>
				</div>
				<div>
					${p.pdesc}
					<br />
					<br /> <img src="${p.image }" style="width: 100%;height:auto;" />
				</div>
			</div>
			
			<div id="introduction2" name="comments" class="comments">
				<div class="title">
					<strong>用户评论</strong>
				</div>
				<%
			
				 Map<String,Object> user = (Map<String,Object>)session.getAttribute("loginedUser");
				 if(user != null){
					 sql="select * from comments where pid=?";
					 Object uid = user.get("uid");
	                 List<Map<String,Object>> commlist=DBHelper.selectList(sql,pid);
					
	                 %>  
					<div style="font-size:15px">
					<%if( commlist == null || commlist.isEmpty()){ %>
						<p>暂无用户评论 </p>
					<%}else{ %>
						<%for(Map<String,Object>m:commlist){ %>
							<%=m.get("username") %>:<%=m.get("content")%>
							<p>评论时间:<%=m.get("cdate") %></p>
						<%} %>
					<% }%>
				
				</div>
				
				
                 <%
                 	//if 没有
                 	//else 
                 	sql = "select count(o2.oid) from orderitem as o1 ,orders as o2 "
                 		+" where o1.oid = o2.oid and pid=? and uid=?"; 
                 		
                 	Object value = DBHelper.selectValue(sql, pid,uid);
                 	int count = Integer.parseInt(""+value);%>
                 	
               		<form action="comm.s?pid=<%=pid%>" novalidate="novalidate"
						method="post">
						<%if( count >0 ){ %>
							<div class="description clearfix">
								<p>此处可发表您的评论!</p>
								<textarea name="comm" cols="90" rows="10" ></textarea>
							</div>
		
							<div class="upload">
							<label>
								<input type="submit" value="点击发布">
							</label>
							</div>
						<%} %>
					</form>
                 	<%} %>
			</div>
		</div>
		
	<%-- 页脚   JSP注解      JSP动作标签 --%>
	
	<%@include file="common/advertising.html" %>
	<%@include file="common/footer.html" %>
</body>
</html>