<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>lol商城</title>
<link rel="stylesheet" href="css/header.css" />
<link rel="stylesheet" href="css/mid.css" />
<link rel="stylesheet" href="css/ads.css" />
<script type="text/javascript" src="js/ads.js"></script>
</head>
<body>
	<div th:include="common/common::header"></div>
	<div class="mid">
		<div class="flash">
			<div class="tab_1">
				<div class="no"></div>
			</div>
			<div class="tab_2">
				<div class="no"></div>
			</div>
			<div class="tab_3">
				<div class="no"></div>
			</div>
			<div class="tab_4">
				<div class="no"></div>
			</div>
		</div>
		<div id="ads">
			<img src="img/ads1.jpg" width="100%" height="250" />
			<img src="img/ads2.jpg" width="100%" height="250" style="display: none;" />
			<img src="img/ads3.jpg" width="100%" height="250" style="display: none;" />
			<img src="img/ads4.jpg" width="100%" height="250" style="display: none;" />
		</div>
		<div class="mid_shop">
			<ul style="list-style: none;">
				<li>
					<a href="">
						<img src="img/goods1.jpg">
					</a>
					<p class="inshop_tit">卢锡安与赛娜手办</p>
				</li>
				<li>
					<a target="_blank" href="">
						<img src="img/goods2.jpg">
					</a>
					<p class="inshop_tit">True Damage 系列新品</p>
				</li>
				<li>
					<a target="_blank" href="">
						<img src="img/goods3.jpg">
					</a>
					<p class="inshop_tit">LPL x NIKE联名新品</p>
				</li>
				<li>
					<a target="_blank" href="">
						<img src="img/goods4.jpg">
					</a>
					<p class="inshop_tit">卡莎1/4大型高端雕塑</p>
				</li>
			</ul>
		</div>
	</div>
	<div th:replace="common/common::.footer"></div>
	<!-- 广告 -->
	<div id="ad" style="position:fixed;right:0px;bottom:50px;">
		<IFRAME allowTransparency="true" marginwidth=0 marginheight=0 src="advertising.html" frameborder=0 width=150 scrolling=no height=344></IFRAME>
	</div>
</body>
</html>