<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/user.css" />
	</head>

	<body>

		<div class="header">
			<div class="logo">
				<img src="img/logo.png" />
			</div>

			<div class="header_left">
				<a href="login.html"><span>你好,请登录</span></a>
				<a href="#"><span>购物车</span></a>
			</div>
		</div>
		<div class="column">
			<a href="index.html">商城首页</a>
			<a href="#">雕塑手办</a>
			<a href="#">毛绒玩偶</a>
			<a href="#">男女服饰</a>
			<a href="#">珠宝首饰</a>
			<a href="#">其他</a>
		</div>
		<div class="user_mid">
			<div class="user_top"> </div>
			<div class="user_card">
				<ul>
					<li>
						<a href="#">个人资料</a>
					</li>

					<li>
						<a href="#">收获地址</a>
					</li>

					<li>
						<a href="#">我的订单</a>
					</li>
					<li>
						<a href="#">我的购物车</a>
					</li>

				</ul>
			</div>
			<!--订单详情-->
			<div class="user_show">
				<div class="clearf">
					<div class="c666">
						<span class="c000">维护您的个人信息</span><br>
						 完善以下个人信息，将有助于我们为您提供更定制化的服务。
					</div>
				</div>
				<div class="memtabbar">
					<form id="userInfoForm">
						<input type="hidden" id="province_hid" value="">
						<input type="hidden" id="city_hid" value="">
						<input type="hidden" id="district_hid" value="">
						<table border="0" cellspacing="0" cellpadding="0" class="memtab">
							<tbody>
								<tr>
									<th colspan="2" style="background-color: gray;">个人资料</th>
								</tr>
								<tr class="user_qq" style="display:none;">
									<td width="200" class="right">QQ号：</td>
									<td width="740"><span id="userAccount"></span></td>
								</tr>
								<tr class="user_weixin" style="display:none;">
									<td width="200" class="right">姓名:</td>
									<td width="740"><span id="userName"></span></td>
								</tr>

								<tr>
									<td width="200" class="right">
										<font class="cfb6">*</font> 游戏QQ帐号：</td>
									<td width="740"><input value="" name="userDetail.gameAccount" id="gameAccount" type="text" class="gew_inp inpw120" size="15" style="width:110px;">
										<span style="color:red;display:none" id="gameAccountPrompt" class="pl5 c999">请填写正确游戏帐号</span>
									</td>
								</tr>

								<tr>
									<td width="200" class="right">
										<font class="cfb6">*</font> 生日：</td>
									<td width="740">
										<input readonly="" name="birthday" id="birthday" type="text" class="gew_inp inpw120 mb5" onfocus="SelectDate(this,'yyyy-MM-dd');">
										<span style="color:red;display:none" id="birthdayPrompt" class="pl5 c999">请填写生日</span>
									</td>
								</tr>

								<tr>
									<td width="200" class="right">
										<font class="cfb6">*</font> 性别：</td>
									<td id="sexItem" width="740">
										<input type="radio" name="userDetail.sex" id="male" value="1"> 男&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="userDetail.sex" id="female" value="2"> 女
										<span style="color:red;display:none" id="sexPrompt" class="pl5 c999">请选择性别</span>
									</td>
								</tr>
								<tr>
									<td width="200" valign="top" class="right"><span class="lh24"><font class="cfb6">*</font> 手机：</span></td>
									<td width="740"><input value="" name="userInfo.mobile" id="mobile" type="text" class="gew_inp inpw120 mb5" size="15">
										<span style="color:red;display:none" id="mobilePrompt" class="pl5 c999">请填写正确的手机号码</span>
										<br><img src="//img.lolriotmall.qq.com/imgjs_pc/images/member/mobile.jpg" style="vertical-align:middle"><span class="cfb6 pl5">填写手机号码，优惠信息随时掌控！</span></td>
								</tr>
								<tr>
									<td width="200" class="right">
										<font class="cfb6">*</font> 邮箱：</td>
									<td width="740"><input value="" name="userDetail.email" id="email" type="text" class="gew_inp inpw120" size="15">
										<span style="color:red;display:none" id="emailPrompt" class="pl5 c999">请填写正确电子邮件</span>
									</td>
								</tr>

								<tr>
									<td width="200" class="right">&nbsp;</td>
									<td width="740" height="60">
										<a href="javascript:updateUserInfo();" class="gew_btn" id="submit">提 交</a>
									</td>
								</tr>

							</tbody>
						</table>
					</form>
					<div class="meuad" id="userAd">
					</div>
				</div>
	</body>

</html>