<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LOL周边商城</title>
	<link href="css/usabase.css" rel="stylesheet" type="text/css">
	<link href="css/member.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/user.css" />
	<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
	<script type="text/javascript">
		var xmlhttp;
		var r=false;
		// ajax 验证用户名是否存在
		try {
			xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
		} catch (e) {
			try {
				xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
			} catch (e) {
				try {
					xmlhttp = new XMLHttpRequest();
				} catch (e) {
				}
			}
		}
		//校验用户名是否存在
		function checkUserName(username) {
			if(xmlhttp!=null){
				// 定义请求地址
				var url ="docif.s?username="+username;
						
				// 以 POST 方式 开启连接
				// POST 请求 更安全（编码）  提交的数据大小没有限制
				xmlhttp.open("POST",url,true);
				
				// 设置回调函数   // 当收到服务器的响应时，会触发该函数（回调函数）
				// 每次的状态改变都会调用该方法
				xmlhttp.onreadystatechange=function(){
					if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
						var nameTipMsg = document.getElementById("nameTipMsg");
						nameTipMsg.innerHTML = xmlhttp.responseText;
					}
				};
				// 发送请求
				xmlhttp.send(null);
			} else {
				alert("不能创建XMLHttpRequest对象实例")
			}
		}
		function change() {
			var username = document.getElementById("username").value;
			var email = document.getElementById("email").value;
			var phone = document.getElementById("phone").value;
			var addr = document.getElementById("addr").value;
			var name = $("#name").val(); // 使用 jquery 选择器搞定！！！
			var sex = $("input[name='sex']:checked").val(); // checked选择器写法记错了，已修改
			
			
				if (xmlhttp != null ) {
					// 定义请求地址
					var url = "user.s?op=changeInfo&username=" + username
							 + "&sex=" + sex + "&email="+ email + "&phone=" 
							 + phone+"&name=" + name +"&addr=" + addr;
					// 以 POST 方式 开启连接
					// POST 请求 更安全（编码）  提交的数据大小没有限制
					xmlhttp.open("POST", url, true);

					// 设置回调函数   // 当收到服务器的响应时，会触发该函数（回调函数）
					// 每次的状态改变都会调用该方法
					xmlhttp.onreadystatechange = function() {
						if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
							var json = xmlhttp.responseText.replace(/\s/gi, "");
							eval("var result = " + json);
							console.info(result);
							
							if(result.code == 1){
								//成功   跳转到登录页面
								location.href = "myinfo.html";
							}else{
								//失败   提示错误信息
								alert(result.msg);
							}
						}
					};
					// 发送请求
					xmlhttp.send(null);
					
			} else {
				alert("不能创建XMLHttpRequest对象实例")
			}
			
			

		}
		
		function check(){
			var valid = true;
			$("#userInfoForm input[name]").each(function(){
				if($(this).next().text()!=""){
					alert($(this).next().text());
					valid = false;
					return false;
				}
			});
			if(valid){
				//$("#userInfoForm").submit();
				if(r==true){
					change();
				}
			}
		}
		function dir_confirm(){
			var choose = confirm("确认修改?");
			if(choose==true){
				r = true;
			}else{
				r = false;
			}
		}
	</script>
</head>
<body>
	<div class="mem_sai clearf">
		<div class="clearf lh20 c666" style="margin-top:15px;">
			<span class="c000">维护您的个人信息</span><br> 完善以下个人信息，将有助于我们为您提供更定制化的服务。
		</div>
		</div>
		<div class="memtabbar">
			<form id="userInfoForm" 
				method="post" novalidate="novalidate"
				action="userinfo.html"
				onsubmit="check(); return false;">
				<input type="hidden" id="province_hid" value="">
				<input type="hidden" id="city_hid" value="">
				<input type="hidden" id="district_hid" value="">
				<table border="0" cellspacing="0" cellpadding="0" class="memtab">
					<tbody>
					<%
						Map<String, Object> user = (Map<String, Object>) session.getAttribute("loginedUser");
						String sql = "select * from user where uid=?";
						List<Map<String,Object>> list  = DBHelper.selectList(sql, user.get("uid"));
						for(Map<String,Object> m : list){
					%>
						<tr>
							<td width="200" class="right">
								<font class="cfb6">*</font> 用户名：</td>
							<td width="740">
								<input value="<%=m.get("username")%>" 
									name="username" id="username" type="text" 
									class="gew_inp inpw120" onblur="checkUserName(this.value)" size="15" style="width:110px;">
								<span id="nameTipMsg" ></span>
							</td>
						</tr>
						<tr>
							<td width="200" class="right">
								<font class="cfb6">*</font> 姓名：</td>
							<td width="740">
								<input value="<%=m.get("name")%>" 
									name="name" id="name" type="text" 
									class="gew_inp inpw120" size="15" style="width:110px;">
								<span id="nameTipMsg" ></span>
							</td>
						</tr>
						
						<tr>
							<td width="200" class="right">
								<font class="cfb6">*</font> 性别：</td>
							<td id="sexItem" width="740">
							<%
								String sex = (String)m.get("sex");
								if("男".equals(sex)){%>
									<input type="radio" name="sex" id="male" value="男" checked="checked"> 男&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="sex" id="female" value="女"> 女
								<%}else{ %>
									<input type="radio" name="sex" id="male" value="男"> 男&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="sex" id="female" value="女" checked="checked"> 女
								<%} %>
							</td>
						</tr>

						
						
						<tr>
							<td width="200" valign="top" class="right"><span class="lh24"><font class="cfb6">*</font> 手机：</span></td>
							<td width="740"><input value="<%=m.get("phone") %>" name="phone" id="phone" type="text" class="gew_inp inpw120 mb5" size="15">
								<span style="color:red;"></span>
								<br><img src="img/mobile.jpg" style="vertical-align:middle"><span class="cfb6 pl5">填写手机号码，优惠信息随时掌控！</span></td>
						</tr>
						<tr>
							<td width="200" class="right">
								<font class="cfb6">*</font> 邮箱：</td>
							<td width="740"><input value="<%=m.get("email") %>" name="email" id="email" type="text" class="gew_inp inpw120" size="15">
								<span style="color:red;"></span>
							</td>
						</tr>

						<tr>
							<td width="200" class="right">
								<font class="cfb6">*</font> 地址：</td>
							<td width="740"><input value="<%=m.get("addr") %>" name="addr" id="addr" type="text" class="gew_inp inpw120" size="15">
								<span style="color:red;"></span>
							</td>
						</tr>
						<tr>
							<td width="200" class="right">&nbsp;</td>
							<td width="740" height="60">
								<input type="submit" onclick="dir_confirm()" class="submit" value="提交" style="width:100px;height:40px;font-size:15px;margin-left:80px">
							</td>
						</tr>
					<%} %>
					</tbody>
				</table>
			</form>
			<div class="meuad" id="userAd">
			</div>
	</div>
</body>
<script>

	document.getElementById("phone").onblur = function () {
	    //判断这个文本框中输入的是不是手机号
	    var p = /^1\d{10}$/;
	   
	    if (p.test(this.value)) {
	    	//alert("手机号格式正确");
	    	$("#phone").next().text("");
	    } else {
	    	//alert("手机号格式不正确");
	    	$("#phone").next().text("请填写11位的手机号");
	    }
	  };
  
 	 document.getElementById("email").onblur = function () {
	    //判断这个文本框中输入的是不是邮箱
	    var em = /^[0-9a-zA-Z_.-]+[@][0-9a-zA-Z_.-]+([.][a-zA-Z]+){1,2}$/;
	    if (em.test(this.value)) {
	    	//alert("邮箱格式正确");
	    	$("#email").next().text("");
	    } else {
	    	if(this.value==null||this.value==""){
	    		$("#email").next().text("请输入邮箱");
	    		document.getElementById("submit").disabled = false;
	    	}else{
	    		//alert("邮箱格式不正确");
		    	$("#email").next().text("您输入的邮箱格式有误");
		    	document.getElementById("submit").disabled = false;
	    	}
	    }
	  };
	  
	  document.getElementById("addr").onblur = function () {
   
   		if(this.value==null||this.value==""){
   			$("#addr").next().text("请输入地址");
   			document.getElementById("submit").disabled = false;
   		}else{
   			$("#addr").next().text("");
   		}
	  }
	
</script>
</html>