body{
	margin: 0;
}
.clist_tab{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size:15px;
	margin-left:20px;
	border-bottom: 1px solid gray;
}

.clist_tab{
	color: #7D7D7D;
}

.clist_tab_1:hover{
	text-decoration: underline;
}
.clist_top img{
	width: 100%;
	height: 140px;
}
.clist_bq{
	float: left;
	margin-left: 50px;
	width: 200px;
	height: 600px;
	text-align: left;
}
.clist_bq dl dt{
	margin-top:30px;
	margin-left: 13px;
	font-size: 20px;
	font-weight: bold;
}
.clist_bq a{
	text-decoration: none;
}
.clist_bq dl dd{
	
	margin-left: 15px;
	color: black;
}
.clist_bq dl a{
	color: black;
	line-height: 40px;
}

.clist_bq dl dd a:hover{
	font-weight: bold;
	color: orangered;
	text-decoration: underline;
}

.clist_shop{
	float: left;
	width: 1000px;
	heigth:900px;
}
.clist_shop ul{
	list-style: none;
	float: left;
}
.clist_shop ul li{
	margin-left: 30px;
	margin-top: 20px;
	float: left;
	width: 270px;
	height: 300px;
	text-align: center;
	
}
.clist_shop img{
	width: 240px;
	height: 240px;
}
.clist_shop p{
	
	font-size: 18px;
	text-decoration: none;
}
/* ---------- Pagination ---------- */
div.bt{
	width:100%;
	float:left;
}
div.pagination {
	width:250px;
	float:right;
	margin-right:50px;
	height: 20px;
}

div.pagination a, div.pagination span {
	height: 18px;
	line-height: 18px;
	display: inline;
	float: left;
	margin-left: 3px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
}

div.pagination a {
	padding: 0px 5px;
	border: 1px solid #cccccc;
}

div.pagination a:hover {
	border: 1px solid #fd6d01;
	text-decoration: none;
}

div.pagination a.previousPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) 0px -180px no-repeat;
}

div.pagination span.previousPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -30px -180px no-repeat;
}

div.pagination a.nextPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) 0px -210px no-repeat;
}

div.pagination span.nextPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -30px -210px no-repeat;
}

div.pagination a.firstPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) -60px -180px no-repeat;
}

div.pagination span.firstPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -90px -180px no-repeat;
}

div.pagination a.lastPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) -60px -210px no-repeat;
}

div.pagination span.lastPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -90px -210px no-repeat;
}

div.pagination .currentPage {
	padding: 0px 5px;
	color: #fd6d01!important;
	font-weight: bold;
	cursor: default;
	border: 1px solid #fd6d01;
	background-color: #ffede1;
}

div.pagination .pageBreak {
	padding: 0px 5px;
	color: #3366cc;
	cursor: default;
}