mid{
	width: 100%;
	height: 700px;
}
.flash{
	position: absolute;
	margin-top: 350px;
	margin-left: 580px;
	width: 200px;
	height: 50px;
}
.dq{
	width: 14px;
	height: 14px;
	background-color: red;
	border-radius: 50%;
}
.no{
	width: 14px;
	height: 14px;
	background-color: white;
	border-radius: 50%;
}

.tab_1{
	float: left;
}

.tab_2{
	margin-left: 15px;
	float: left;
}
.tab_3{
	margin-left: 15px;
	float: left;
}
.tab_4{
	margin-left: 15px;
	float: left;
}

.mid_shop{
	width: 100%;
	height: 245px;
}
.mid_shop img{
	margin: 0;
	width: 320px;
	height: 200px;
}
.mid_shop a{
	margin: 0;
	width: 320px;
	height: 200px;
}
.mid_shop ul li{
	width: 25%;
	height: auto;
	text-align: center;
	float: left;
}
.inshop_tit{
    width: 100%;
    height: 45px;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #222;
}